<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftProjectDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D25AD2DC1F6BB8FC00BE8257</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D25AD2F01F6BB8FD00BE8257</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D25AD2FB1F6BB8FD00BE8257</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
